.content_rows{
    display: flex;
    flex-wrap: wrap;
    
}

.staff_img{
  
    /* flex-basis: 20em; */
    height: 50%;
}

.add_staff_img{
    object-fit: contain;
    width: clamp(25em, 25em, 100em);
}

.staff_img, .staff_form{
    flex-grow: 1;

}